@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Red+Hat+Display:wght@300;400;500;600;700;800;900&family=Space+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #F7F6F0;
}

@layer components {
  .navlink {
    @apply text-sm  duration-300 ease-linear rounded-lg border-white  p-1 uppercase font-semibold mr-3 hover:bg-green hover:rounded-lg hover:px-3 hover:py-1  transition-all hover:text-black;
  }
  .form-input {
    @apply outline-none text-gray-500 min-w-[18rem] max-w-[23rem] font-normal mx-auto border-gray-300 border p-2 rounded focus:outline-none text-sm focus:text-gray-500 focus:border-green transition-all ease-linear duration-300;
  }
  .form-error {
    @apply ml-4 mr-auto text-error text-xs 
  }
}
.space-mono{
  font-family: "Space Mono", sans-serif;
}
.red-hat{
  font-family: "Red Hat Display", sans-serif;
}
.mon{
  font-family: "Montserrat", sans-serif;
}
